# Gradle files
.gradle/
build/
out/

# Logs and temp files
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store

# IDE files (VSCode, IntelliJ, etc.)
.vscode/
.idea/
*.iml

# Other
.classpath
.project
.settings/
.factorypath
bin/

# OS Files
Thumbs.db
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
